.reset-password-body {
    display: flex;
    flex-direction: column;
    align-items: center;


}


button {
    background-color: #4CAF50;
    margin: 8px 0;
    cursor: pointer;
    border: rgb(176, 176, 175) 1px solid;
    border-radius: 5px;
    height: 30px;
    color: rgb(5, 5, 5);

}

.password-input-container {
    position: relative;
}

.input-with-icon {
    position: relative;

}

.input-with-icon input {
    padding-right: 10px;


}

.password-toggle {
    position: absolute;
    margin-right: 10px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.passwordNotMatchError,
.passwordLengthError {
    color: red;
    font-size: 14px;
    margin: 0;
    padding: 0;
}