.about-us-container {
    padding: 20px;
}

.banking-details {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
}

.banking-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.banking-details p {
    font-size: 16px;
    margin-bottom: 5px;
}