.navbar {
    position: fixed;
    background-color: #FF8B00;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #f5931b, #f89f33);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;

}

.navbar a:hover {
    background-color: #fabd72;
    color: black;
    border-radius: 5px;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: black;
}

.navbar .nav-link:active {
    color: rgb(255, 140, 0);
}