h1 {
    font-size: 28px;
    padding-left: 20px;
}

.transaction-history {

    padding: 20px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to bottom right, #f3f3f3, #dadada);
}

.transaction-history .form-control {
    width: 5000%; /* adjust as needed */
    margin: 10px auto;
    display: flex;
    align-items : flex-start;
}

.transaction-history .form-select {
  width: 500%; /* adjust as needed */
  margin: 10px auto;
}

.description {
    width: 100%;
    text-align: center;
}

.search-bar {
    margin: 1px;
    padding: 10px;
    border-radius: 5px;
    width: 500px;

}

.date-range {
    display: flex;
    justify-content: center;
    gap: 20px; /* adjust as needed */
  }

span{
    font-size: 14px;
    padding: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

  }

th,
td {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 300px;

}

tbody tr {
    text-align: center;

}

tbody tr:nth-child(odd) {
    background-color: #f0f0f0;

}

tbody tr:nth-child(even) {
    background-color: #c6ced1;
}

tbody tr:hover {
    background-color: #f0f0f0;
}