h1 {
    font-size: 28px;
    padding-left: 20px;
}

.transaction-history {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to bottom right, #f3f3f3, #dadada);
}

.description {
    width: 300px;
    text-align: center;
}

.search-bar {
    margin: 1px;
    padding: 10px;

    border-radius: 5px;

}

th,
td {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}

tbody tr {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f0f0f0;

}

tbody tr:nth-child(even) {
    background-color: #c6ced1;
}

.download-btn {
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #737879;
}

.p-button {
    margin-right: 20px;
}