/* increase height of profile component*/
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* adjust as needed */
  height: 100%;
  width: 100%;
}

.profile-container .profile-card {
  flex: 1;
  justify-content: center;
}

.Profile .profile-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px; /* adjust as needed */
  height: 100%;
  width: 100%;
}

.Profile .profile-greeting {
  font-size: 32px;
  font-weight: 600;
}

.Profile div {
  justify-content: center;
  margin-top: 25px;
  align-items: center;

}

.Profile button {
  margin-top: 25px;
  width: 120px;
  height: 60px;
  background-color: #f9a826;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.Profile button:hover {
  background-color: #f9a826;
}
