.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FFED7B;
    /* background-image: url('/images/cheese.avif'); */
    color: Black;
    text-align: center;
    padding: 10px 0;
}