/* Common styles for transaction body */
.transaction-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #e5e589;
    margin-top: 40px;

}

.transaction-body .btn {
    background-color: rgb(222, 224, 183);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.transaction-body .btn-primary[type="submit"] {
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.input-container {
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
}

/* Button styles */
.transaction-btn button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

/* Input styles */
input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.transaction-body .form-group .input-group-text {
    height: auto; /* make the height the same as the input line */
  }

/* Add space between inputs */
input:not(:last-child) {
    margin-bottom: 8px;
}


/* Hover animation */
.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
    transform: scale(0.85);
}

/* Animation */
@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
