.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 20px;
}


.Transaction {
  width: 40%;
  margin: 20px 0;
}

.TransactionHistory {
  width: 90%; /* adjust as needed */
  margin: 20px auto;
  /* strictly above the footer */
  padding-bottom: 30vh;

}